In [1]:
# Import Packages

# Admin

# ! pip install --upgrade pip
# ! pip install git+git://github.com/scikit-learn/scikit-learn@master
# ! pip install xgboost
# ! brew install gcc5
# ! pip install eli5
# ! pip install git+git://github.com/dmlc/xgboost

# Analysis

import pandas as pd
import numpy as np

# Modeling

from sklearn.model_selection import train_test_split, GridSearchCV
from xgboost import XGBClassifier
import xgboost as xgb

In [2]:
# Get Data

data = pd.read_csv('./X_train.csv')
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,65,Private,23580,Bachelors,13,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States
1,47,Private,303637,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,49,United-States
2,26,Private,192506,Bachelors,13,Never-married,Other-service,Not-in-family,Black,Female,0,0,35,United-States
3,38,Private,181716,12th,8,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,48,United-States
4,43,Federal-gov,195897,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,7298,0,40,United-States
5,40,Private,99373,10th,6,Divorced,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States
6,68,Self-emp-not-inc,241174,7th-8th,4,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,16,United-States
7,47,Self-emp-inc,193960,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,7298,0,45,United-States
8,38,Private,405284,Bachelors,13,Never-married,Other-service,Own-child,White,Female,0,0,35,United-States
9,66,Private,107196,HS-grad,9,Widowed,Tech-support,Not-in-family,White,Female,0,0,18,United-States
10,26,Private,231638,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States
11,55,Private,314592,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
12,29,Private,232914,Assoc-voc,11,Never-married,Adm-clerical,Own-child,Black,Female,0,0,40,United-States
13,29,Private,162298,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,55,United-States
14,46,Self-emp-inc,125892,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States
15,35,Private,301369,12th,8,Never-married,Machine-op-inspct,Unmarried,Black,Female,0,0,40,United-States
16,47,Private,343579,1st-4th,2,Married-spouse-absent,Farming-fishing,Not-in-family,White,Male,0,0,12,Mexico
17,19,Private,305834,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,0,40,United-States
18,47,Private,202395,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States
19,49,State-gov,206577,Some-college,10,Divorced,Adm-clerical,Own-child,White,Male,0,0,40,United-States
20,54,Federal-gov,21698,Bachelors,13,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States
21,40,Self-emp-inc,76625,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States
22,25,Self-emp-inc,163039,Assoc-acdm,12,Never-married,Sales,Not-in-family,White,Male,0,0,60,United-States
23,35,Private,240467,Some-college,10,Separated,Transport-moving,Not-in-family,Black,Female,0,0,40,United-States
24,41,Private,235167,5th-6th,3,Married-spouse-absent,Priv-house-serv,Not-in-family,White,Female,0,0,32,Mexico
25,19,Private,165306,Some-college,10,Never-married,Tech-support,Other-relative,Asian-Pac-Islander,Male,0,0,40,Vietnam
26,39,Private,207824,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,60,United-States
27,27,Private,178709,Masters,14,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States
28,40,Local-gov,153031,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,7298,0,35,United-States
29,22,Private,416165,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30268,22,State-gov,62865,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,8,United-States
30269,29,Private,100293,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States
30270,30,Private,143766,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
30271,73,Private,123160,10th,6,Widowed,Other-service,Not-in-family,White,Female,0,0,10,United-States
30272,42,Private,112956,HS-grad,9,Never-married,Transport-moving,Own-child,White,Male,0,0,40,United-States
30273,20,Private,119742,HS-grad,9,Never-married,Prof-specialty,Own-child,White,Female,0,0,35,United-States
30274,24,Private,224785,Bachelors,13,Never-married,Sales,Not-in-family,White,Male,0,1876,65,United-States
30275,42,State-gov,404573,Prof-school,15,Divorced,Prof-specialty,Unmarried,White,Female,0,0,40,United-States
30276,55,Private,205422,10th,6,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,40,United-States
30277,48,Self-emp-inc,191277,Assoc-voc,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States
30278,25,Private,254933,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States
30279,61,Private,56248,1st-4th,2,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,60,United-States
30280,35,Private,108293,Bachelors,13,Widowed,Prof-specialty,Unmarried,White,Female,0,0,32,United-States
30281,37,Private,35309,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
30282,57,Federal-gov,223892,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States
30283,33,Private,37274,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States
30284,32,Private,199963,11th,7,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,United-States
30285,82,Self-emp-inc,130329,7th-8th,4,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States
30286,30,Private,186145,Bachelors,13,Divorced,Sales,Not-in-family,White,Female,0,0,40,United-States
30287,29,State-gov,106972,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,35,United-States
30288,45,Local-gov,111994,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
30289,68,Private,163346,HS-grad,9,Widowed,Machine-op-inspct,Not-in-family,White,Female,0,0,32,United-States
30290,53,Private,110977,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,50,United-States
30291,30,Self-emp-not-inc,303692,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,75,United-States
30292,20,Private,107746,11th,7,Never-married,Transport-moving,Other-relative,White,Male,0,0,40,Guatemala
30293,64,Local-gov,164876,HS-grad,9,Divorced,Transport-moving,Unmarried,White,Male,0,0,20,United-States
30294,30,Private,390879,Assoc-voc,11,Divorced,Prof-specialty,Unmarried,White,Female,0,0,36,United-States
30295,33,Self-emp-not-inc,183778,Assoc-acdm,12,Divorced,Sales,Not-in-family,White,Male,0,0,40,United-States
30296,23,Private,213955,HS-grad,9,Never-married,Adm-clerical,Own-child,Black,Male,0,2001,40,United-States
30297,35,Private,73471,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States

In [3]:
data.shape

(30298, 14)

In [4]:
target = pd.read_csv('y_train.csv', header=None)
target.shape

(30298, 1)

In [5]:
data_obj = data.select_dtypes(exclude=[np.number])
data_obj.head()

,workclass,education,marital-status,occupation,relationship,race,sex,native-country
0,Private,Bachelors,Divorced,Adm-clerical,Not-in-family,White,Female,United-States
1,Private,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,Bachelors,Never-married,Other-service,Not-in-family,Black,Female,United-States
3,Private,12th,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States
4,Federal-gov,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States

In [6]:
# Print Categorical Features

print("CATEGORICAL FEATURES: \n\n",
      "WORKCLASS: ", data.workclass.unique(), "\n",
      "EDUCATION: ", data.education.unique(), "\n",
     "MARTIAL STATUS", data['marital-status'].unique(), "\n",
     "OCCUPATION: ", data['occupation'].unique(), "\n",
     "RELATIONSHIP: ",data['relationship'].unique(),"\n",
     "RACE: ",data['race'].unique(), "\n",
     "SEX: ",data['sex'].unique(), "\n",
     "NATIVE COUNTRY: ", data['native-country'].unique(), "\n")

CATEGORICAL FEATURES:

 WORKCLASS:  ['Private' 'Federal-gov' 'Self-emp-not-inc' 'Self-emp-inc' 'State-gov'
 'Local-gov' 'Without-pay']
 EDUCATION:  ['Bachelors' 'HS-grad' '12th' '10th' '7th-8th' 'Some-college' 'Assoc-voc'
 'Masters' '1st-4th' 'Assoc-acdm' '5th-6th' 'Doctorate' '11th'
 'Prof-school' '9th' 'Preschool']
 MARTIAL STATUS ['Divorced' 'Married-civ-spouse' 'Never-married' 'Widowed'
 'Married-spouse-absent' 'Separated' 'Married-AF-spouse']
 OCCUPATION:  ['Adm-clerical' 'Exec-managerial' 'Other-service' 'Craft-repair'
 'Farming-fishing' 'Machine-op-inspct' 'Sales' 'Tech-support'
 'Transport-moving' 'Handlers-cleaners' 'Priv-house-serv' 'Prof-specialty'
 'Protective-serv' 'Armed-Forces']
 RELATIONSHIP:  ['Not-in-family' 'Husband' 'Unmarried' 'Own-child' 'Other-relative' 'Wife']
 RACE:  ['White' 'Black' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']
 SEX:  ['Female' 'Male']
 NATIVE COUNTRY:  ['United-States' 'Mexico' 'Vietnam' 'China' 'Cambodia' 'Puerto-Rico'
 'Guatemala' 'Germany' 'Jamaica' 'Columbia' 'Trinadad&Tobago' 'South'
 'India' 'Philippines' 'England' 'Ireland' 'Greece' 'Dominican-Republic'
 'Outlying-US(Guam-USVI-etc)' 'Taiwan' 'Haiti' 'Cuba' 'El-Salvador'
 'Portugal' 'Canada' 'Italy' 'Iran' 'Poland' 'Japan' 'Scotland' 'France'
 'Hong' 'Laos' 'Nicaragua' 'Peru' 'Ecuador' 'Honduras' 'Thailand'
 'Hungary' 'Yugoslavia' 'Holand-Netherlands']

In [7]:
# LabelEncode Categorical Features

from sklearn.preprocessing import LabelEncoder

data = data.apply(LabelEncoder().fit_transform)

In [8]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,48,2,78,9,12,0,0,1,4,0,0,0,39,38
1,30,2,17253,11,8,2,3,0,4,1,0,0,48,38
2,9,2,11231,9,12,4,7,1,2,0,0,0,34,38
3,21,2,10075,2,7,2,2,0,4,1,0,0,47,38
4,26,0,11569,11,8,2,4,0,4,1,90,0,39,38

In [9]:
data.shape, target.shape

((30298, 14), (30298, 1))

In [10]:
# Get target into 1D Array

target = pd.DataFrame(target)

target = target.values.ravel()

In [11]:
# Feature Selection

from sklearn.feature_selection import  SelectKBest, f_regression, f_classif
selector = SelectKBest(score_func=f_classif, k=3)

target = target
not_target = data

predictors = not_target

selector.fit(predictors, target)

# selector.fit(Reddit[predictors], Reddit[target].values.ravel())

best_features = selector.get_support(indices=True)

features = list(predictors.columns[selector.get_support(indices = True)])
features

['education-num', 'relationship', 'capital-gain']

In [12]:
# Train-Train-Split on Data Set

from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.preprocessing import PolynomialFeatures, StandardScaler

target = target
not_target = ['education-num', 'relationship', 'capital-gain']

X = data[not_target]
y = target

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [13]:
# Standard Scaler

ss = StandardScaler()
X_train_scaled = ss.fit_transform(X_train)
X_test_scaled = ss.transform(X_test)

In [14]:
# XGBoost Classifier

gs_params = {
    'max_depth':[1, 2, 3, 4, 5],
    'n_estimators':[1, 5, 10],
    'learning_rate':np.logspace(-5,0,100),
    'silent' : [False],
    'booster' : ['gbtree', 'gblinear', 'dart'] 
}

xgb_gs = GridSearchCV(XGBClassifier(), gs_params, verbose=1)

xgb_gs = xgb_gs.fit(X_train, y_train)

best_xgb_gs = xgb_gs.best_estimator_

xgb_gs_train = best_xgb_gs.score(X_train, y_train)
xgb_gs_test = best_xgb_gs.score(X_test, y_test)

# X_matrix = X.as_matrix()
# y_matrix = y.as_matrix()

# xgb = XGBClassifier()
# xgb.fit(X_matrix, y_matrix)
# perm_xgb = PermutationImportance(xgb).fit(X_matrix, y_matrix)
# eli5.show_weights(perm_xgb, feature_names=list(X))

Fitting 3 folds for each of 4500 candidates, totalling 13500 fits

[Parallel(n_jobs=1)]: Done 13500 out of 13500 | elapsed:  9.3min finished
/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_search.py:734: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [15]:
print(xgb_gs_train)

0.8470272411213308

In [16]:
print(xgb_gs_test)

0.8510891089108911

In [17]:
# Get Test Data

test=pd.read_csv('./test_X.txt',delimiter="\,", index_col=False, engine='python')

In [18]:
test.drop(['Unnamed: 0'], axis=1, inplace=True)

In [19]:
test

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States
1,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
2,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States
3,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States
4,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States
5,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States
6,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States
7,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States
8,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States
9,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States
10,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States
11,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States
12,58,?,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States
13,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States
14,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States
15,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States
16,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States
17,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States
18,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,?
19,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States
20,34,Private,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States
21,72,?,132015,7th-8th,4,Divorced,?,Not-in-family,White,Female,0,0,6,United-States
22,25,Private,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru
23,25,Private,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
24,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States
25,22,Private,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
26,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States
27,54,Private,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States
28,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States
29,46,State-gov,106444,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,7688,0,38,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16250,81,?,26711,Assoc-voc,11,Married-civ-spouse,?,Husband,White,Male,2936,0,20,United-States
16251,60,Private,117909,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,40,United-States
16252,39,Private,229647,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Female,0,1669,40,United-States
16253,38,Private,149347,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
16254,43,Local-gov,23157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,50,United-States
16255,23,Private,93977,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States
16256,73,Self-emp-inc,159691,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States
16257,35,Private,176967,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
16258,66,Private,344436,HS-grad,9,Widowed,Sales,Other-relative,White,Female,0,0,8,United-States
16259,27,Private,430340,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,45,United-States
16260,40,Private,202168,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,55,United-States
16261,51,Private,82720,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
16262,22,Private,269623,Some-college,10,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States
16263,64,Self-emp-not-inc,136405,HS-grad,9,Widowed,Farming-fishing,Not-in-family,White,Male,0,0,32,United-States
16264,50,Local-gov,139347,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,?
16265,55,Private,224655,HS-grad,9,Separated,Priv-house-serv,Not-in-family,White,Female,0,0,32,United-States
16266,38,Private,247547,Assoc-voc,11,Never-married,Adm-clerical,Unmarried,Black,Female,0,0,40,United-States
16267,58,Private,292710,Assoc-acdm,12,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,36,United-States
16268,32,Private,173449,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States
16269,48,Private,285570,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States
16270,61,Private,89686,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States
16271,31,Private,440129,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
16272,25,Private,350977,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States
16273,48,Local-gov,349230,Masters,14,Divorced,Other-service,Not-in-family,White,Male,0,0,40,United-States
16274,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States
16275,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States
16276,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States
16277,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
16278,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States
16279,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States

In [20]:
test.shape

(16280, 14)

In [21]:
# LabelEncode Test Data - same as Train Data

test = test.apply(LabelEncoder().fit_transform)

In [22]:
# Check LabelEncoder Worked

test.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,21,4,1888,11,8,2,5,0,4,1,0,0,49,38
1,11,2,11539,7,11,2,11,0,4,1,0,0,39,38
2,27,4,5146,15,9,2,7,0,2,1,90,0,39,38
3,1,0,2450,15,9,4,0,3,4,0,0,0,29,38
4,17,4,7627,0,5,4,8,1,4,1,0,0,29,38

In [23]:
# Drop All Columns but 3 Chosen Features

test = test.drop(['age', 'workclass', 'fnlwgt', 'education', 'marital-status', 'occupation', 
           'race', 'sex', 'capital-loss', 'hours-per-week', 'native-country'], axis=1)

In [24]:
# Check that Target Columns remain

test.columns

Index(['education-num', 'relationship', 'capital-gain'], dtype='object')

In [26]:
# Predict on Test Data using XGBoost model

y_hat = pd.DataFrame(best_xgb_gs.predict(test))

In [27]:
# Predictions

y_hat.head()

   0
0  0
1  0
2  1
3  0
4  0

In [28]:
# Submit Predictions for Accuracy Score

y_hat.to_csv('yhat_xgboost',header=False, index=False)